body {
    text-align: center;
}

.header {
    text-align: center;
}

.buttons_field{
    padding: 10px;
    display: flex;
    justify-content: center;
}

.img-zoom-container {
  position: relative;

}
.img-zoom-lens {
    position: absolute;
    border: 1px solid #ff0000;
    width: 2px;
    height: 2px;
}
.img-zoom-result {
    border: 1px solid #d4d4d4;
    width: 200px;
    height: 200px;
    image-rendering: pixelated;
}

.result {
    float: left;
}

#myimage {
    float: left;
    image-rendering: pixelated;
}
