<html>
<head>
    <title>nambavan</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <style>
        table, th, td {
          border: 1px solid black;
        }
    </style>
</head>
<body onload="init({{path}})">
<div class="header">
    <p>Проверочная система</p>
</div>
<div class="buttons_field">
    <select id="img_list">
        {% for file in data %}
        <option>{{ file }}</option>
        {% endfor %}
    </select>
    <button onclick="load_image()">Загрузить картинку</button>
    <button onclick="handler_image()">Обработать</button>
    <button onclick="changeImage()">Результат</button>
    <button onclick="show_info()">Исследовать</button>
    <div class="loader">
        <p>Идет обработка на сервере</p>
    </div>
</div>

<div class="img-zoom-container" id="mycontainer">
    <img id="myimage">
    <div class="result">
        <div class="img-zoom-result" id="myresult"></div>
        <div>
            <p id="coordinates"></p>
            <p>матрица B</p>
            <div class="B_INFO"></div>
            <p>матрица С</p>
            <div class="C_INFO"></div>

            <div class="H_INFO"></div>
        </div>
    </div>

</div>

</body>
</html>