<html>
<head>
    <title>nambavan</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
<!--    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <style>
        table, th, td {
            border: 1px solid black;
        }
        table, tr {
            width: 100%;
        }
        td {
            width: 25%;
        }


    </style>
</head>
<body onload="init({{path}})">
<div class="header">
    <p>Проверочная система</p>
</div>
<div class="buttons_field">
    <select id="img_list">
        {% for file in data %}
        <option>{{ file }}</option>
        {% endfor %}
    </select>
    <button onclick="load_image()">Загрузить картинку</button>
    <button onclick="handler_image()">Обработать</button>
    <button onclick="changeImage()">Результат</button>
    <button onclick="show_info()">Исследовать</button>
    <p><input type="number" id="numb_angle">Значение первой производной</p>
    <div class="loader">
        <p>Идет обработка на сервере</p>
    </div>
</div>

<div class="img-zoom-container" id="mycontainer">
    <div class="block_image" id="block_image">
        <img id="myimage">
    </div>

    <br>
    <div class="result">
        <div class="img-zoom-result" id="myresult"></div>
        <div style="width: 90%">
            <p id="coordinates"></p>
            <p>матрица B</p>
            <div class="B_INFO"></div>
            <p>матрица С</p>
            <div class="C_INFO"></div>
            <p>коэффициенты H</p>
            <div class="H_INFO"></div>
            <canvas width=175 height=175></canvas>
        </div>
    </div>

</div>

</body>
</html>